.text-box {
  padding: 4px 12px 12px;
}

.side-box textview,
.side-box text {
  background: none;
  color: inherit;
}

.scrolled undershoot.top {
  box-shadow: inset 0 1px alpha(@shade_color, .75);
  background: linear-gradient(to bottom, alpha(@shade_color, .75), transparent 4px);
}

.scrolled undershoot.bottom {
  box-shadow: inset 0 -1px alpha(@shade_color, .75);
  background: linear-gradient(to top, alpha(@shade_color, .75), transparent 4px);
}
